.side
  .sideApptitle 
    = image_tag 'logo.png', size:'280x80'
  .sideProf
    .sideProf-icon
      = image_tag 'man.png'
    .sideProf-name
      Takumi Hamada
  %ul.sideProject
    %li.sideProjectIcon
      Aグループチーム開発
    %li.sideProjectIcon
      Bグループチーム開発
    %li.sideProjectIcon
      Cグループチーム開発
    %li.sideProjectIcon
      Cグループチーム開発
    %li.sideProjectIcon
      Cグループチーム開発